# config file for ansible -- http://ansible.github.com
# Set ANSIBLE_CONFIG environment variable to use this
# See http://ansible.github.com/examples.html#configuration-defaults
[defaults]

hostfile = ansible_hosts
filter_plugins = filter_plugins

#remote_user = ubuntu
#private_key_file = /home/ubuntu/key1.pem
ask_pass = True
ask_sudo_pass = True
